body {
  background: black;
  font-family: mainFont;

}

@font-face {
  font-family: mainFont;
  src: url(assets/Gilroy-Light.woff);
}

#header-content {
  text-align: center;
  color: white;
  padding: 30px;
  max-width: 576px;
  /* border properties */
  border-radius: 20px;
  border: 3px solid white;
}

#title {
  
}

#desc {
  padding: 10px;
  border: 3px solid white;
  border-radius: 30px;
  color: white;
}

#desc-content{
  font-size: 25px;
  /* background-color: #1f1f1f; */
}

#links {
  font-size: 25px;
  text-align: center;
}
/* 
#links a {
  margin-left: 10px;
  margin-right: 10px;
}

#not-yet:hover {
  
} */