body {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(white, gray, black), url('assets/rain_pond.gif');
  background-size: cover;
  background-blend-mode: multiply;
}

/*
  top,L,R,bot require a defined position
*/

#me {
  position: relative;
  /* left: 31vw; */
  top: 40vh;
}

#me_pic {
  position: absolute;
  box-shadow: 0 15px 150px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  left: 65vh;
  height: 189px;
  border-radius: 50%;
}

#statement{
  position: absolute;
  left: 93vh;
  padding-top: 10px;
  color: white;
  font-size: 50px;
  font-family: serif;
}

#icons {
  position: relative;
  padding-top: 100px;
  padding-left: 95vh;
}

#icons img:hover{
  opacity: 0.7;
}

#icons img {
  position: absolute;
  display: inline;
}

#LinkedIn {
}

#GitHub {
  margin-left: 70px;
}

/* #Resume {
  margin-left: 140px;
} */
